<META>
	<APP>
		<APP_ID NAME="产品ID" TYPE="LONG" SIZE="" DESC=""></APP_ID>
		<APP_NAME NAME="产品名称" TYPE="STR" SIZE="" DESC=""></APP_NAME>
		<DES NAME="描述" TYPE="STR" SIZE="" DESC=""></DES>
		<CREATE_TIME NAME="创建时间" TYPE="DATETIME" SIZE="" DESC=""></CREATE_TIME>
		<VERSION NAME="版本" TYPE="" SIZE="" DESC=""></VERSION>
	</APP>
</META>